*{
    font-family: 'Open Sans', sans-serif;
}
.conteiner{
    width: fit-content;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}
#list .todo{
    display: inline;
}
.delete{
    display: none;
}
.listItem:hover .delete{
    display: inline;
}
#list{
    margin-top: 25px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.delete{
    font-weight: bold;
    float: right;
    margin: 0 5px;
}
.delete:hover{
    color: #660066;
    cursor: pointer;
}
.add{
    margin: 10px auto;
}
input[type=text] {
    width: 75%;
    border: none;
    border-bottom: 2px solid red;
}
input[type="text"]:focus {
    outline:0;
}
.lable{
    width: fit-content;
    margin: 0 auto;
    font-size: 95px;
    color: #660066;
}
.btn{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}
.btn:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn:focus{
    outline: none;
}
#saveTodo{
    margin: 20px;
}
.listItem:hover{
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.p {
  width: 12px;
  height: 12px;
  position: relative;
  margin: 0 5px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.p:checked + .todo {
  color: silver;
  text-decoration: line-through;
}